.shop
    &__box
        display: grid
        max-width: 1110px
        padding-left: 20px
        padding-right: 20px
        margin-top: 20px
        margin-bottom: 20px
    &__title
        display: grid
        justify-content: center
